<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content, :onfocus => "countCharacters('micropost_content', 'character_counter', 140)", :onkeydown => "countCharacters('micropost_content', 'character_counter', 140)", :onkeyup => "countCharacters('micropost_content', 'character_counter', 140)" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
    <span id="character_counter">140</span>
  </div>
<% end %>
